@using Blog.UI.Utilities.Helper
@inject NavigationManager Navigation

<div class="col-12 mt-4 d-flex justify-content-center">
    <ul class="pagination pagination-style-01 fs-13 fw-500 mb-0">

        <li class="page-item @(CurrentPage<=1 ? "disabled" : "")">
            <NavLink class="page-link" href="@GetPageUrl(CurrentPage - 1)">
                <i class="feather icon-feather-arrow-right fs-18 d-xs-none"></i>
            </NavLink>
        </li>

        @for (int p = 1; p <= TotalPages; p++)
        {
            int pagenumber = p;
            <li class="page-item @(p== CurrentPage ? "active":"")">
                <NavLink class="page-link" href="@GetPageUrl(pagenumber)">
                    @pagenumber
                </NavLink>
            </li>

        }

        <li class="page-item @(CurrentPage >= TotalPages? "active":"")">
            <NavLink class="page-link" href="@GetPageUrl(CurrentPage + 1)">
                <i class="feather icon-feather-arrow-left fs-18 d-xs-none"></i>
            </NavLink>
        </li>
    </ul>
</div>

@code {


    [CascadingParameter]
    public int CurrentPage { get; set; }

    [Parameter]
    public int TotalPages { get; set; }

    [Parameter]
    public string BaseUrl { get; set; } = string.Empty;

    private string GetPageUrl(int pageNumber)
    {
        return QueryUrlHelper.BuildPageUrl(Navigation, BaseUrl, pageNumber);
    }


}
